
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
*{
  box-sizing: border-box;
  margin: auto;
  padding: 0%;
  font-family: 'Nunito', sans-serif;
}

a{
  color: #fff;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
  }